# Add files here to ignore them from prettier formatting
/dist
/coverage
.angular
.prettierignore
.vercel
/tmp
/node_modules
/stats.html

/.nx/cache

/.nx/workspace-data

# use biomejs, not prettier with `nx format`
*.css
