@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-sans: '';
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	-webkit-print-color-adjust: exact;
	appearance: none;
	display: inline-flex;
	align-items: center;
}

:root {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 240 5.9% 10%;
	--primary-foreground: 0 0% 98%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 240 5.9% 10%;
	--radius: 0.5rem;
}

.dark {
	--background: 240 10% 3.9%;
	--foreground: 0 0% 98%;
	--card: 240 10% 3.9%;
	--card-foreground: 0 0% 98%;
	--popover: 240 10% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 0% 98%;
	--primary-foreground: 240 5.9% 10%;
	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 240 3.7% 15.9%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 240 3.7% 15.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 240 4.9% 83.9%;
}

:root .theme-gray {
	--background: 0 0% 100%;
	--foreground: 224 71.4% 4.1%;
	--muted: 220 14.3% 95.9%;
	--muted-foreground: 220 8.9% 46.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 224 71.4% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 224 71.4% 4.1%;
	--border: 220 13% 91%;
	--input: 220 13% 91%;
	--primary: 220.9 39.3% 11%;
	--primary-foreground: 210 20% 98%;
	--secondary: 220 14.3% 95.9%;
	--secondary-foreground: 220.9 39.3% 11%;
	--accent: 220 14.3% 95.9%;
	--accent-foreground: 220.9 39.3% 11%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 20% 98%;
	--ring: 224 71.4% 4.1%;
	--radius: 0.5rem;
}

.dark .theme-gray {
	--background: 224 71.4% 4.1%;
	--foreground: 210 20% 98%;
	--muted: 215 27.9% 16.9%;
	--muted-foreground: 217.9 10.6% 64.9%;
	--popover: 224 71.4% 4.1%;
	--popover-foreground: 210 20% 98%;
	--card: 224 71.4% 4.1%;
	--card-foreground: 210 20% 98%;
	--border: 215 27.9% 16.9%;
	--input: 215 27.9% 16.9%;
	--primary: 210 20% 98%;
	--primary-foreground: 220.9 39.3% 11%;
	--secondary: 215 27.9% 16.9%;
	--secondary-foreground: 210 20% 98%;
	--accent: 215 27.9% 16.9%;
	--accent-foreground: 210 20% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 20% 98%;
	--ring: 216 12.2% 83.9%;
}

:root .theme-red {
	--background: 0 0% 100%;
	--foreground: 0 0% 3.9%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 0 0% 3.9%;
	--border: 0 0% 89.8%;
	--input: 0 0% 89.8%;
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 0 85.7% 97.3%;
	--secondary: 0 0% 96.1%;
	--secondary-foreground: 0 0% 9%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--ring: 0 72.2% 50.6%;
	--radius: 0.5rem;
}

.dark .theme-red {
	--background: 0 0% 3.9%;
	--foreground: 0 0% 98%;
	--muted: 0 0% 14.9%;
	--muted-foreground: 0 0% 63.9%;
	--popover: 0 0% 3.9%;
	--popover-foreground: 0 0% 98%;
	--card: 0 0% 3.9%;
	--card-foreground: 0 0% 98%;
	--border: 0 0% 14.9%;
	--input: 0 0% 14.9%;
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 0 85.7% 97.3%;
	--secondary: 0 0% 14.9%;
	--secondary-foreground: 0 0% 98%;
	--accent: 0 0% 14.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--ring: 0 72.2% 50.6%;
}

:root .theme-green {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 142.1 76.2% 36.3%;
	--primary-foreground: 355.7 100% 97.3%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 142.1 76.2% 36.3%;
	--radius: 0.5rem;
}

.dark .theme-green {
	--background: 20 14.3% 4.1%;
	--foreground: 0 0% 95%;
	--card: 24 9.8% 10%;
	--card-foreground: 0 0% 95%;
	--popover: 0 0% 9%;
	--popover-foreground: 0 0% 95%;
	--primary: 142.1 70.6% 45.3%;
	--primary-foreground: 144.9 80.4% 10%;
	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 0 0% 15%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 12 6.5% 15.1%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 142.4 71.8% 29.2%;
}

@layer base {
	* {
		@apply border-border;
	}
}
